<header>
	<div class="container">
		<div class="header-inner">
			<div class="header-logo">
				<img src="/img/logo-white.svg" alt="Brand logo">
				Rapid Web Designs
			</div>
			<div class="header-right">
				<div class="big-screen">
					<nav>
						<ul>
							<li><a href="#">About</a></li>
							<li><a href="#features">Features</a></li>
							<li><a href="#pricing">Pricing</a></li>
							<li><a href="#portfolio">Portfolio</a></li>
						</ul>
					</nav>
					<a href="#contact" class="btn btn-sm btn-primary">Contact Us</a>
				</div>
				<div class="small-screen">
					hello
				</div>
				</div>
		</div>
	</div>
</header>