<header class="container">
	<div class="header-wrapper">
		<div class="header-left">
			<div class="logo">
				<a href="https://google.com">
					<img src="http://imroz.rainbowit.net/assets/images/logo/logo.png" alt="Digital Agency">
				</a>
			</div>
		</div>
		<div class="header-right">
			<nav>
				<ul class="header-nav">
					<li class="nav-item">
						<a href="#">Home</a>
					</li>
					<li class="nav-item">
						<a href="#">Service</a>
					</li>
					<li class="nav-item">
						<a href="#">About</a>
					</li>
					<li class="nav-item">
						<a href="#">Contact</a>
					</li>
				</ul>
			</nav>
			<a href="#" class="primary-btn" id="order-now-btn">Order Now</a>
			<button class="menu-btn" id="menu-open-btn">
				<i class="mdi mdi-menu" aria-hidden="true"></i>
			</button>
			<div class="menu-nav" id="menu-nav">
				<button class="menu-btn" id="menu-close-btn">
					<i class="mdi mdi-close" aria-hidden="true"></i>
				</button>
				<ul>
					<li class="nav-item">
						<a href="#">Home</a>
					</li>
					<li class="nav-item">
						<a href="#">Service</a>
					</li>
					<li class="nav-item">
						<a href="#">About</a>
					</li>
					<li class="nav-item">
						<a href="#">Contact</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</header>