@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  transition: 200ms;
}

@media screen and (max-width: 900px) {
  html {
    font-size: 0.9rem;
  }
}

:root {
  --color-black: #151719;
  --color-white: #ECEDED;
  --color-light-gray: #575E86;
  --background-pattern: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1016%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(21%2c 23%2c 25%2c 1)'%3e%3c/rect%3e%3cuse xlink:href='%23SvgjsSymbol1023' x='0' y='0'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsSymbol1023' x='720' y='0'%3e%3c/use%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1016'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cpath d='M-1 0 a1 1 0 1 0 2 0 a1 1 0 1 0 -2 0z' id='SvgjsPath1017'%3e%3c/path%3e%3cpath d='M-3 0 a3 3 0 1 0 6 0 a3 3 0 1 0 -6 0z' id='SvgjsPath1022'%3e%3c/path%3e%3cpath d='M-5 0 a5 5 0 1 0 10 0 a5 5 0 1 0 -10 0z' id='SvgjsPath1018'%3e%3c/path%3e%3cpath d='M2 -2 L-2 2z' id='SvgjsPath1021'%3e%3c/path%3e%3cpath d='M6 -6 L-6 6z' id='SvgjsPath1020'%3e%3c/path%3e%3cpath d='M30 -30 L-30 30z' id='SvgjsPath1019'%3e%3c/path%3e%3c/defs%3e%3csymbol id='SvgjsSymbol1023'%3e%3cuse xlink:href='%23SvgjsPath1017' x='30' y='30' stroke='rgba(29%2c 48%2c 69%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1018' x='30' y='90' stroke='rgba(29%2c 48%2c 69%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1019' x='30' y='150' stroke='rgba(29%2c 48%2c 69%2c 1)' stroke-width='3'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1020' x='30' y='210' stroke='rgba(29%2c 48%2c 69%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1020' x='30' y='270' stroke='rgba(29%2c 48%2c 69%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1020' x='30' y='330' stroke='rgba(29%2c 48%2c 69%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1018' x='30' y='390' stroke='rgba(29%2c 48%2c 69%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1018' x='30' y='450' stroke='rgba(29%2c 48%2c 69%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1017' x='30' y='510' stroke='rgba(29%2c 48%2c 69%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1017' x='30' y='570' stroke='rgba(29%2c 48%2c 69%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1018' x='90' y='30' stroke='rgba(29%2c 48%2c 69%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1020' x='90' y='90' stroke='rgba(29%2c 48%2c 69%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1020' x='90' y='150' stroke='rgba(29%2c 48%2c 69%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1020' x='90' y='210' stroke='rgba(29%2c 48%2c 69%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1018' x='90' y='270' stroke='rgba(29%2c 48%2c 69%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1018' x='90' y='330' stroke='rgba(29%2c 48%2c 69%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1017' x='90' y='390' stroke='rgba(29%2c 48%2c 69%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1020' x='90' y='450' stroke='rgba(29%2c 48%2c 69%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1020' x='90' y='510' stroke='rgba(29%2c 48%2c 69%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1020' x='90' y='570' stroke='rgba(29%2c 48%2c 69%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1020' x='150' y='30' stroke='rgba(29%2c 48%2c 69%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1021' x='150' y='90' stroke='rgba(29%2c 48%2c 69%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1020' x='150' y='150' stroke='rgba(29%2c 48%2c 69%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1018' x='150' y='210' stroke='rgba(29%2c 48%2c 69%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1018' x='150' y='270' stroke='rgba(29%2c 48%2c 69%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1021' x='150' y='330' stroke='rgba(29%2c 48%2c 69%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1018' x='150' y='390' stroke='rgba(29%2c 48%2c 69%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1018' x='150' y='450' stroke='rgba(29%2c 48%2c 69%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1020' x='150' y='510' stroke='rgba(29%2c 48%2c 69%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1021' x='150' y='570' stroke='rgba(29%2c 48%2c 69%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1018' x='210' y='30' stroke='rgba(29%2c 48%2c 69%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1020' x='210' y='90' stroke='rgba(29%2c 48%2c 69%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1018' x='210' y='150' stroke='rgba(29%2c 48%2c 69%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1020' x='210' y='210' stroke='rgba(29%2c 48%2c 69%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1019' x='210' y='270' stroke='rgba(29%2c 48%2c 69%2c 1)' stroke-width='3'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1018' x='210' y='330' stroke='rgba(29%2c 48%2c 69%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1020' x='210' y='390' stroke='rgba(29%2c 48%2c 69%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1019' x='210' y='450' stroke='rgba(29%2c 48%2c 69%2c 1)' stroke-width='3'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1018' x='210' y='510' stroke='rgba(29%2c 48%2c 69%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1018' x='210' y='570' stroke='rgba(29%2c 48%2c 69%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1018' x='270' y='30' stroke='rgba(29%2c 48%2c 69%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1020' x='270' y='90' stroke='rgba(29%2c 48%2c 69%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1020' x='270' y='150' stroke='rgba(29%2c 48%2c 69%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1018' x='270' y='210' stroke='rgba(29%2c 48%2c 69%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1018' x='270' y='270' stroke='rgba(29%2c 48%2c 69%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1020' x='270' y='330' stroke='rgba(29%2c 48%2c 69%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1018' x='270' y='390' stroke='rgba(29%2c 48%2c 69%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1021' x='270' y='450' stroke='rgba(29%2c 48%2c 69%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1020' x='270' y='510' stroke='rgba(29%2c 48%2c 69%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1018' x='270' y='570' stroke='rgba(29%2c 48%2c 69%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1019' x='330' y='30' stroke='rgba(29%2c 48%2c 69%2c 1)' stroke-width='3'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1021' x='330' y='90' stroke='rgba(29%2c 48%2c 69%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1020' x='330' y='150' stroke='rgba(29%2c 48%2c 69%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1022' x='330' y='210' stroke='rgba(29%2c 48%2c 69%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1018' x='330' y='270' stroke='rgba(29%2c 48%2c 69%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1022' x='330' y='330' stroke='rgba(29%2c 48%2c 69%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1018' x='330' y='390' stroke='rgba(29%2c 48%2c 69%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1017' x='330' y='450' stroke='rgba(29%2c 48%2c 69%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1020' x='330' y='510' stroke='rgba(29%2c 48%2c 69%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1020' x='330' y='570' stroke='rgba(29%2c 48%2c 69%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1020' x='390' y='30' stroke='rgba(29%2c 48%2c 69%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1018' x='390' y='90' stroke='rgba(29%2c 48%2c 69%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1022' x='390' y='150' stroke='rgba(29%2c 48%2c 69%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1021' x='390' y='210' stroke='rgba(29%2c 48%2c 69%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1020' x='390' y='270' stroke='rgba(29%2c 48%2c 69%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1018' x='390' y='330' stroke='rgba(29%2c 48%2c 69%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1019' x='390' y='390' stroke='rgba(29%2c 48%2c 69%2c 1)' stroke-width='3'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1021' x='390' y='450' stroke='rgba(29%2c 48%2c 69%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1018' x='390' y='510' stroke='rgba(29%2c 48%2c 69%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1018' x='390' y='570' stroke='rgba(29%2c 48%2c 69%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1020' x='450' y='30' stroke='rgba(29%2c 48%2c 69%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1018' x='450' y='90' stroke='rgba(29%2c 48%2c 69%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1021' x='450' y='150' stroke='rgba(29%2c 48%2c 69%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1017' x='450' y='210' stroke='rgba(29%2c 48%2c 69%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1020' x='450' y='270' stroke='rgba(29%2c 48%2c 69%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1018' x='450' y='330' stroke='rgba(29%2c 48%2c 69%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1018' x='450' y='390' stroke='rgba(29%2c 48%2c 69%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1018' x='450' y='450' stroke='rgba(29%2c 48%2c 69%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1018' x='450' y='510' stroke='rgba(29%2c 48%2c 69%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1020' x='450' y='570' stroke='rgba(29%2c 48%2c 69%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1020' x='510' y='30' stroke='rgba(29%2c 48%2c 69%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1018' x='510' y='90' stroke='rgba(29%2c 48%2c 69%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1018' x='510' y='150' stroke='rgba(29%2c 48%2c 69%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1020' x='510' y='210' stroke='rgba(29%2c 48%2c 69%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1020' x='510' y='270' stroke='rgba(29%2c 48%2c 69%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1017' x='510' y='330' stroke='rgba(29%2c 48%2c 69%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1022' x='510' y='390' stroke='rgba(29%2c 48%2c 69%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1018' x='510' y='450' stroke='rgba(29%2c 48%2c 69%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1020' x='510' y='510' stroke='rgba(29%2c 48%2c 69%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1020' x='510' y='570' stroke='rgba(29%2c 48%2c 69%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1019' x='570' y='30' stroke='rgba(29%2c 48%2c 69%2c 1)' stroke-width='3'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1017' x='570' y='90' stroke='rgba(29%2c 48%2c 69%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1018' x='570' y='150' stroke='rgba(29%2c 48%2c 69%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1018' x='570' y='210' stroke='rgba(29%2c 48%2c 69%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1021' x='570' y='270' stroke='rgba(29%2c 48%2c 69%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1020' x='570' y='330' stroke='rgba(29%2c 48%2c 69%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1021' x='570' y='390' stroke='rgba(29%2c 48%2c 69%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1020' x='570' y='450' stroke='rgba(29%2c 48%2c 69%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1018' x='570' y='510' stroke='rgba(29%2c 48%2c 69%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1020' x='570' y='570' stroke='rgba(29%2c 48%2c 69%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1022' x='630' y='30' stroke='rgba(29%2c 48%2c 69%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1020' x='630' y='90' stroke='rgba(29%2c 48%2c 69%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1018' x='630' y='150' stroke='rgba(29%2c 48%2c 69%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1020' x='630' y='210' stroke='rgba(29%2c 48%2c 69%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1022' x='630' y='270' stroke='rgba(29%2c 48%2c 69%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1018' x='630' y='330' stroke='rgba(29%2c 48%2c 69%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1018' x='630' y='390' stroke='rgba(29%2c 48%2c 69%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1020' x='630' y='450' stroke='rgba(29%2c 48%2c 69%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1020' x='630' y='510' stroke='rgba(29%2c 48%2c 69%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1020' x='630' y='570' stroke='rgba(29%2c 48%2c 69%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1020' x='690' y='30' stroke='rgba(29%2c 48%2c 69%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1017' x='690' y='90' stroke='rgba(29%2c 48%2c 69%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1020' x='690' y='150' stroke='rgba(29%2c 48%2c 69%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1018' x='690' y='210' stroke='rgba(29%2c 48%2c 69%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1020' x='690' y='270' stroke='rgba(29%2c 48%2c 69%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1018' x='690' y='330' stroke='rgba(29%2c 48%2c 69%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1020' x='690' y='390' stroke='rgba(29%2c 48%2c 69%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1020' x='690' y='450' stroke='rgba(29%2c 48%2c 69%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1021' x='690' y='510' stroke='rgba(29%2c 48%2c 69%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1020' x='690' y='570' stroke='rgba(29%2c 48%2c 69%2c 1)'%3e%3c/use%3e%3c/symbol%3e%3c/svg%3e");
}

.section {
	display: block;
  padding-bottom: 5rem;
}

.section-header {
  text-align: center;
}

.section-header h2 {
  font-size: 2.5rem;
  color: var(--color-black);
  margin-bottom: 1rem;
}

.section-header p {
  font-weight: 500;
  color: var(--color-light-gray);
  font-size: 1.2rem;
}

.container {
  max-width: 70rem;
  width: 100%;
  margin: auto;
  padding: 1rem;
}

.container-sm {
  max-width: 50rem;
  width: 100%;
  margin: auto;
  padding: 1rem;
}

.container-xs {
  max-width: 40rem;
  width: 100%;
  margin: auto;
  padding: 1rem;
}

.button-group {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.button-group > .btn {
  margin: 0 1rem;
}

.btn {
  display: inline-block;
  border: none;
  border-radius: 2px;
  outline: none;
  padding: 0.5rem 1rem;
  font-size: 1.1rem;
  font-weight: 500;
  color: var(--color-black);
  cursor: pointer;
  text-decoration: none;
}

.btn-primary {
  background-color: #6163ff;
  color: var(--color-white);
}

.btn-primary:hover {
  background-color: #6B6DFF;
}

.btn-secondary {
  background-color: #3e3e40;
  color: var(--color-white);
}

.btn-secondary:hover {
  background-color: #474749;
}

.btn-sm {
  padding: 0.3rem 1rem;
}

.grid-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 2rem;
  justify-content: center;
}

.v-box {
  display: flex;
}

.h-box {
  display: flex;
  flex-direction: column;
}

/* Header */

header {
  background-color: var(--color-black);
  color: white;
  font-size: 1.5rem;
  background-image: var(--background-pattern);
}

.header-inner {
  padding: 1rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-inner * {
  align-items: center;
}

.header-logo {
  display: flex;
}

.header-logo img {
  display: block;
  margin-right: 1rem;
}

.header-right .big-screen {
  display: flex;
}

.header-right .small-screen {
  display: none;
}

@media screen and (max-width: 850px) {
  .header-right .big-screen {
    display: none;
  }

  .header-right .small-screen {
    display: block;
  }
}

.header-right ul {
  display: flex;
  list-style: none;
}

.header-right ul li a {
  margin-left: 2rem;
  color: #9ca9b3;
  font-size: 1.1rem;
  text-decoration: none;
}

.header-right .btn {
  margin-left: 2rem;
}

/* Hero */

.hero {
	background-color: var(--color-black);
	color: var(--color-white);
  background-image: var(--background-pattern);
  padding-top: 5rem;
}

.hero-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.hero-content h1 {
  font-size: 2.5rem;
  text-align: center;
  line-height: 1.3;
  margin-bottom: 1.5rem;
}

.hero-content p {
  text-align: center;
  color: #9ca9b3;
  font-size: 1.2rem;
  font-weight: 500;
}

/* What we do */
.features {
  padding-top: 5rem;
}

.feature-tile {
  max-width: 19rem;
  margin: 1.5rem;
}

.feature-tile-logo {
  width: 4rem;
  background-color: #6163ff;
  height: 4rem;
  display: flex;
  font-size: 2rem;
  border-radius: 50px;
  justify-content: center;
  align-items: center;
  color: white;
  margin-bottom: 0.5rem;
}

.feature-tile-logo i {
  display: flex;
}

.feature-tile h3 {
  color: var(--color-black);
  font-weight: 500;
  font-size: 1.5rem;
  margin-bottom: 0.1rem;
}

.feature-tile p {
  color: var(--color-light-gray);
  font-size: 1.1rem;
}

/* Portfolio */

.portfolio {
  padding-top: 0;
}

.portfolio-tile {
  max-width: 20rem;
  margin: 1.3rem;
  border: 1px solid #e8e8e8;
  box-shadow: 0px 0px 20px 0px #e2dfdf;
}

.portfolio-tile:hover .portfolio-tile-img-overlay {
  display: flex;
}

.portfolio-tile img {
  display: block;
  width: 100%;
}

.portfolio-tile-img {
  position: relative;
}

.portfolio-tile-img-overlay {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  justify-content: center;
  align-items: center;
  background-color: rgba(0,0,0,0.2);
}

.portfolio-tile-info {
  padding: 1rem;
}

.portfolio-tile-info h3 {
  color: var(--color-black);
  font-weight: 500;
  margin-bottom: 0.1rem;
}

.portfolio-tile-info p {
  color: var(--color-light-gray);
  font-size: 1.1rem;
}

/* Pricing */

.pricing-tile {
  max-width: 20rem;
  margin: 1rem;
  border: 1px solid gainsboro;
  box-shadow: 0px 0px 18px 1px #d0d0d0;
}

.pricing-tile-head {
  padding: 1rem;
}

.pricing-tile-price {
  font-size: 2rem;
  font-weight: 500;
  color: var(--color-black);
}

.pricing-tile-desc {
  color: var(--color-light-gray)
}

.pricing-tile-price span {
  color: var(--color-light-gray);
}

.pricing-tile-div {
  padding: 0 1rem;
}

.pricing-tile-div p {
  padding: 1rem 0;
  border-top: 1px solid #d4d4d4;
  border-bottom: 1px solid #d4d4d4;
}

.pricing-tile ul {
  list-style: none;
  padding: 0 1rem;
}

.pricing-tile li {
  padding: 0.5rem 0;
  border-bottom: 1px solid #d4d4d4;
}

.pricing-tile-btn-container {
  padding: 1rem;
}

.pricing-tile-btn-container > * {
  display: block;
  text-align: center;
}

/* Contact */

.contact .container {
  display: flex;
  padding: 0;
  box-shadow: 0 0 10px 0 #cccccc;
  max-width: 60rem;
  margin-top: 2rem;
}

.contact-details {
  width: 100%;
  padding: 2rem;
  color: var(--color-black);
}

.contact-details h3 {
  font-weight: 500;
}

.contact-details p {
  color: var(--color-light-gray);
}

.contact-details ul {
  list-style: none;
  margin-top: 3rem;
}

.contact-details li {
  margin: 2rem 0;
  display: flex;
  align-items: center;
}

.contact-details li > * {
  margin-right: 1rem;
}

.contact-details li > div {
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-content: center;
  background-color: #6163ff;
  border-radius: 50px;
  color: white;
}

.contact-details li > a {
  text-decoration: none;
  color: #6163ff;
}

.contact-details li > div > i {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}

.contact-form {
  background-color: #6163ff;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 2rem;
}

.contact-form  input, .contact-form textarea {
  display: block;
  width: 100%;
  resize: none;
  padding: 0.5rem;
  outline: none;
  border-radius: 2px;
  border: none;
  font-size: 1.1rem;
}

.contact-form .v-box input[name="fullname"] {
  margin-right: 0.5rem;
}
.contact-form .v-box input[name="bussiness"] {
  margin-left: 0.5rem;
}
.contact-form .h-box {
  margin-top: 1rem;
  flex-grow: 1;
}
.contact-form .h-box textarea {
  margin-top: 1rem;
  height: 100%;
}
.contact-form button[type="submit"] {
  margin-top: 1rem;
  margin-left: auto;
}

.contact-form label {
  display: block;
  height: 0;
  width: 0;
  color: #6163ff;
}

@media screen and (max-width: 600px) {
  .contact .container {
    flex-direction: column-reverse;
  }
  .contact-form button[type="submit"] {
    width: 100%;
  }
  .contact-form .h-box textarea {
    height: 10rem;
  }
}

/* Footer */

footer .container {
  border-top: 1px solid #c5c5c5;
  display: flex;
}

.footer-left {
  display: flex;
  width: 100%;
  align-items: center;
}

.footer-left img {
  margin-right: 1rem;
}

.footer-right {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  align-items: center;
}

.footer-right ul {
  display: flex;
  list-style: none;
}

.footer-right li {
  margin: 0 1rem;
}

@media screen and (max-width: 400px) {
  .footer-right ul {
    flex-direction: column;
  }

  .footer-right li {
    margin-bottom: 0.5rem;
  }
}