@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  transition: 200ms;
}

:root {
  --color-black: #151719;
  --color-white: #ECEDED;
  --color-light-gray: #575E86;
}

.section {
	display: block;
  padding: 5rem 0;
}

.section-header {
  text-align: center;
}

.section-header h2 {
  font-size: 2.5rem;
  color: var(--color-black);
  margin-bottom: 1rem;
}

.section-header p {
  font-weight: 500;
  color: var(--color-light-gray);
  font-size: 1.2rem;
}

.container {
  max-width: 70rem;
  width: 100%;
  margin: auto;
  padding: 1rem;
}

.container-sm {
  max-width: 50rem;
  width: 100%;
  margin: auto;
  padding: 1rem;
}

.container-xs {
  max-width: 40rem;
  width: 100%;
  margin: auto;
  padding: 1rem;
}

.button-group {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.button-group > .btn {
  margin: 0 1rem;
}

.btn {
  border: none;
  border-radius: 2px;
  outline: none;
  padding: 0.5rem 1rem;
  font-size: 1.1rem;
  font-weight: 500;
  color: var(--color-black);
}

.btn-primary {
  background-color: #6163ff;
  color: var(--color-white);
}

.btn-primary:hover {
  background-color: #6B6DFF;
}

.btn-secondary {
  background-color: #3e3e40;
  color: var(--color-white);
}

.btn-secondary:hover {
  background-color: #474749;
}

.btn-sm {
  padding: 0.3rem 1rem;
}



/* Header */

header {
  background-color: var(--color-black);
  color: white;
  font-size: 1.5rem;
}

.header-inner {
  padding: 1rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-inner * {
  align-items: center;
}

.header-right {
  display: flex;
}

.header-right ul {
  display: flex;
  list-style: none;
}

.header-right ul li {
  margin-left: 2rem;
  color: #9ca9b3;
  font-size: 1.1rem;
}

.header-right button {
  margin-left: 2rem;
}

/* Hero */

.hero {
	background-color: var(--color-black);
	color: var(--color-white);
}

.hero-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.hero-content h1 {
  font-size: 2.5rem;
  text-align: center;
  line-height: 1.3;
  margin-bottom: 1.5rem;
}

.hero-content p {
  text-align: center;
  color: #9ca9b3;
  font-size: 1.2rem;
  font-weight: 500;
}

/* What we do */

.features-grid {
  display: flex;
  flex-wrap: wrap;
  margin-top: 5rem;
  justify-content: center;
}

.feature-tile {
  max-width: 19rem;
  margin: 1.5rem;
}

.feature-tile-logo {
  width: 4rem;
  background-color: #6163ff;
  height: 4rem;
  display: flex;
  font-size: 2rem;
  border-radius: 50px;
  justify-content: center;
  align-items: center;
  color: white;
  margin-bottom: 0.5rem;
}

.feature-tile-logo i {
  display: flex;
}

.feature-tile h3 {
  color: var(--color-black);
  font-weight: 500;
  font-size: 1.5rem;
  margin-bottom: 0.1rem;
}

.feature-tile p {
  color: var(--color-light-gray);
  font-size: 1.1rem;
}

/* Pricing */
.pricing {
  padding-top: 0;
}