{{ define "main" }}
<main>
	<section class="container top">
		<div class="top-heading-wrapper">
			<h1 class="main-heading">Web Design and Development</h1>
			<p class="sub-heading">
				We Design and Develop Websites for
				Individuals, Small Business & Agencies. No Wordpress or Page Builder,
				We make hand-coded websites with inbuilt CMS.
			</p>
		</div>
		<div class="top-links">
			<a href="#" class="primary-btn">Learn More</a>
			<a href="#" class="secondary-btn">Pricing</a>
		</div>
	</section>
	<section id="speciality">
		<div class="container">
			<div class="flex-center">
				<div class="speciality-left">
					<img src="https://images.unsplash.com/photo-1457305237443-44c3d5a30b89?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=753&q=80" alt="">
				</div>
				<div class="speciality-right">
					<h2 class="speciality-heading">What's Unique About Us.</h2>
					<p class="speciality-desc">
						We do not use Wordpress or any Page Builder,
						Every line of code is written by hand to
						ensure the best performance and SEO.
						<br><br>
						We build static site which makes the hosting free of cost and the site loads faster because of no server side rendering.
						<br><br>
						Despite using static site our websites have Wordpress like editor so you can edit the content by yourself.
					</p>
				</div>
			</div>
		</div>
	</section>
	<section id="services">
		<div class="container">
			<span class="section-sub-heading">What we can do for you</span>
			<h2 class="section-heading">
				Services provide for you.
			</h2>
			<p class="section-info">
				If you need we can provide custom pricing
				for the scope of work, number of pages and time involved.
			</p>
			<div class="flex-grid">
				<div class="service-card">
					<div class="service-card-icon">
						<i class="mdi mdi-cloud-outline" aria-hidden="true"></i>
					</div>
					<h3 class="service-card-heading">Free Hosting</h3>
					<p class="service-card-desc">
						We build static websites which are free to host.
					</p>
				</div>
				<div class="service-card">
					<div class="service-card-icon">
						<i class="mdi mdi-bug-outline" aria-hidden="true"></i>
					</div>
					<h3 class="service-card-heading">Unlimited Bug Fix</h3>
					<p class="service-card-desc">
						Any bugs, issue will be fixed for free of cost
					</p>
				</div>
				<div class="service-card">
					<div class="service-card-icon">
						<i class="mdi mdi-account-edit-outline" aria-hidden="true"></i>
					</div>
					<h3 class="service-card-heading">Custom Design</h3>
					<p class="service-card-desc">
						If you want, we will design your website according to your taste.
					</p>
				</div>
				<div class="service-card">
					<div class="service-card-icon">
						<i class="mdi mdi-google-analytics" aria-hidden="true"></i>
					</div>
					<h3 class="service-card-heading">Google Analytics</h3>
					<p class="service-card-desc">
						We install Analytics for free to monitor traffic and where it comes from.
					</p>
				</div>
				<div class="service-card">
					<div class="service-card-icon">
						<i class="mdi mdi-square-edit-outline" aria-hidden="true"></i>
					</div>
					<h3 class="service-card-heading">CMS</h3>
					<p class="service-card-desc">
						Your website will have an editor to customize content.
					</p>
				</div>
			</div>
		</div>
	</section>
</main>
{{ end }}